In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#Loading the data set
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [3]:
#first five rows of the data set
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3968,3617,1.134592,0.252051,0.488592,0.799826,-0.264819,-0.369918,-0.243365,0.049761,1.210818,...,-0.351115,-0.851463,0.186169,0.092463,0.020015,0.057976,-0.046611,0.012562,13.99,0.0
3969,3621,-1.338671,1.080974,1.291196,0.719258,0.101320,0.053896,0.001297,-0.917575,1.638510,...,0.498030,-0.483932,0.037686,0.053566,-0.560078,0.230423,-0.119911,0.321847,27.43,0.0
3970,3622,-0.339728,-2.417449,0.975517,2.537995,-1.720361,0.863005,0.032965,0.026764,2.487139,...,0.391639,0.264432,-0.735031,0.450594,0.310022,-0.231357,-0.049872,0.153526,730.32,0.0
3971,3623,-0.368639,0.947432,1.707755,0.932092,0.292956,0.189100,0.499330,0.132466,0.779412,...,-0.119045,0.056665,-0.172703,0.170073,0.139605,-0.420518,0.033794,0.005996,6.87,0.0
3972,3624,-0.663445,1.162921,1.508050,0.549405,0.231377,-0.106041,0.817977,-0.387026,1.488054,...,-0.420337,-0.361357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#data set information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3973 entries, 0 to 3972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    3973 non-null   int64
 1   V1      3973 non-null   float64
 2   V2      3973 non-null   float64
 3   V3      3973 non-null   float64
 4   V4      3973 non-null   float64
 5   V5      3973 non-null   float64
 6   V6      3973 non-null   float64
 7   V7      3973 non-null   float64
 8   V8      3973 non-null   float64
 9   V9      3973 non-null   float64
 10  V10     3973 non-null   float64
 11  V11     3973 non-null   float64
 12  V12     3973 non-null   float64
 13  V13     3973 non-null   float64
 14  V14     3973 non-null   float64
 15  V15     3973 non-null   float64
 16  V16     3973 non-null   float64
 17  V17     3973 non-null   float64
 18  V18     3973 non-null   float64
 19  V19     3973 non-null   float64
 20  V20     3973 non-null   float64
 21  V21     3973 non-null   float64
 22  V22     3973 non-null   float64
 23  V23     3972 non-null   float64
 24  V24     3972 non-null   float64
 25  V25     3972 non-null   float64
 26  V26     3972 non-null   float64
 27  V27     3972 non-null   float64
 28  V28     3972 non-null   float64
 29  Amount  3972 non-null   float64
 30  Class   3972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 962.3 KB

In [6]:
#checking the missing values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
#distribution of legit transaction and fraudulent transaction
credit_card_data['Class'].value_counts()

0.0    3970
1.0       2
Name: Class, dtype: int64

In [8]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(3970, 31)
(2, 31)

In [10]:
#statistical measures of the data
legit.Amount.describe()

count    3970.000000
mean       64.899597
std       213.612570
min         0.000000
25%         2.270000
50%        12.990000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [12]:
#comparision of the values of both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1638.828463,-0.332459,0.308935,0.837446,0.011432,-0.029468,0.053530,0.147357,-0.071642,0.056211,...,0.059567,0.010282,-0.082957,-0.058743,0.029114,0.095244,-0.012637,0.044658,0.002668,64.899597
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

In [13]:
legit_sample = legit.sample(n=150)

In [14]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
628,478,-0.597236,0.897114,0.765018,-1.008934,0.491639,-0.059136,0.595702,0.110417,-0.068274,...,-0.039377,-0.208065,-0.222443,-0.842566,-0.003832,0.250814,-0.045118,0.061893,10.00,0.0
570,427,-0.847312,0.854261,0.338816,0.890137,0.804751,1.165501,-0.081408,0.879014,-0.394737,...,-0.046690,-0.075301,-0.308479,-1.733137,0.087036,-0.129209,0.294334,0.071198,11.36,0.0
3213,2790,-0.678097,0.774112,1.069828,-2.205852,0.239830,-0.849156,0.966565,-0.140874,0.794798,...,0.120434,0.770676,-0.238002,0.216774,-0.016602,-0.834273,0.354532,0.034160,1.00,0.0
3121,2698,-0.669716,1.800709,1.060000,2.834202,-0.385511,1.290577,-1.381070,-3.728159,-1.183137,...,3.856861,-1.212026,0.426526,0.149144,0.501111,0.243979,0.334533,0.254456,5.98,0.0
2798,2353,0.729252,1.647706,-1.604106,1.758442,0.866638,-1.713029,0.882642,-0.170530,-0.362783,...,-0.087351,0.032605,0.176338,0.255344,-0.610770,-0.403835,0.273967,0.016288,0.89,0.0

In [16]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
2960,2502,-2.211187,0.678025,1.564969,-3.499936,-1.483841,-0.295939,-0.364980,0.000906,2.056198,...,-0.353805,0.646637,-0.015409,0.189938,-0.235508,-0.027275,0.941348,0.401689,20.00,0.0
1926,1487,0.453116,-1.098692,0.822911,1.501410,-1.042356,0.326013,-0.117811,0.061553,0.606737,...,0.373663,0.539620,-0.379397,0.145477,0.340384,-0.269027,0.025276,0.095144,355.05,0.0
3445,2938,-0.636283,0.692499,1.060769,-2.138464,-0.107337,-1.362268,0.922614,-0.177551,1.070252,...,0.072193,0.509350,-0.245940,0.479083,-0.004541,-0.857975,0.326316,0.033720,1.00,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0

In [17]:
new_dataset['Class'].value_counts()

0.0    150
1.0      2
Name: Class, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1703.22,-0.296434,0.281271,0.731183,0.018714,-0.076691,0.123129,0.045410,-0.081684,-0.073814,...,0.115470,-0.075476,0.038772,-0.042592,-0.053065,0.098926,-0.056766,0.057521,0.038300,71.8432
1.0,439.00,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.5000

In [19]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [20]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
628    478 -0.597236  0.897114  0.765018 -1.008934  0.491639 -0.059136
570    427 -0.847312  0.854261  0.338816  0.890137  0.804751  1.165501
3213  2790 -0.678097  0.774112  1.069828 -2.205852  0.239830 -0.849156
3121  2698 -0.669716  1.800709  1.060000  2.834202 -0.385511  1.290577
2798  2353  0.729252  1.647706 -1.604106  1.758442  0.866638 -1.713029
...    ...       ...       ...       ...       ...       ...       ...
2960  2502 -2.211187  0.678025  1.564969 -3.499936 -1.483841 -0.295939
1926  1487  0.453116 -1.098692  0.822911  1.501410 -1.042356  0.326013
3445  2938 -0.636283  0.692499  1.060769 -2.138464 -0.107337 -1.362268
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
628   0.595702  0.110417 -0.068274  ... -0.078289 -0.039377 -0.208065
570  -0.081408  0.879014 -0.394737  ...  0.081904 -0.046690 -0.075301
3213  0.966565 -0.140874  0.794798  ...  0.112617  0.120434  0.770676
3121 -1.381070 -3.728159 -1.183137  ... -0.740625  3.856861 -1.212026
2798  0.882642 -0.170530 -0.362783  ...  0.033782 -0.087351  0.032605
...        ...       ...       ...  ...       ...       ...       ...
2960 -0.364980  0.000906  2.056198  ...  0.679279 -0.353805  0.646637
1926 -0.117811  0.061553  0.606737  ...  0.601830  0.373663  0.539620
3445  0.922614 -0.177551  1.070252  ...  0.029372  0.072193  0.509350
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
628  -0.222443 -0.842566 -0.003832  0.250814 -0.045118  0.061893   10.00
570  -0.308479 -1.733137  0.087036 -0.129209  0.294334  0.071198   11.36
3213 -0.238002  0.216774 -0.016602 -0.834273  0.354532  0.034160    1.00
3121  0.426526  0.149144  0.501111  0.243979  0.334533  0.254456    5.98
2798  0.176338  0.255344 -0.610770 -0.403835  0.273967  0.016288    0.89
...        ...       ...       ...       ...       ...       ...     ...
2960 -0.015409  0.189938 -0.235508 -0.027275  0.941348  0.401689   20.00
1926 -0.379397  0.145477  0.340384 -0.269027  0.025276  0.095144  355.05
3445 -0.245940  0.479083 -0.004541 -0.857975  0.326316  0.033720    1.00
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[152 rows x 30 columns]

In [21]:
print(Y)

628     0.0
570     0.0
3213    0.0
3121    0.0
2798    0.0
       ...
2960    0.0
1926    0.0
3445    0.0
541     1.0
623     1.0
Name: Class, Length: 152, dtype: float64

Split the data into training data and testing data

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [23]:
print(X.shape, X_train.shape, X_test.shape)

(152, 30) (121, 30) (31, 30)

Model training

Logistic regression

In [28]:
model = LogisticRegression()

In [29]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [30]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [32]:
print("Accuracy on training data: ", training_data_accuracy)

Accuracy on training data:  1.0

In [33]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [34]:
print("Accuracy score on test data: ", test_data_accuracy)

Accuracy score on test data:  1.0